/* 清除默认样式 */

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #333;
}

input {
    border: none;
    background: none;
}

.record-top {
    position: absolute;
    top: -1.3rem;
    width: 100%;
    height: 3rem;
    background-image: url(../images/result/get_img_top.png);
    background-size: 100% 100%;
    z-index: 10;
}

.record-personal {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #dd4439;
}


/* 顶部头像 */

.avatar {
    position: relative;
    margin: 0.2rem auto 0;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    overflow: hidden;
    border: 0.08rem solid #dd4439;
    z-index: 11;
    background-color: #dd4439;
}

.avatar img {
    width: 100%;
    height: 100%;
}


/* 提示文字 */

.nickname {
    max-width: 2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ava-title {
    background-color: rgba(214, 66, 56, 1);
    padding: 0.1rem 0.3rem;
    font-size: 0.28rem;
    color: #FFF;
    margin: 0.15rem auto 0;
    max-width: 3rem;
    border-radius: 0.3rem;
    text-align: center;
    border: 0.01rem solid #BB4444;
}


/* 中部1 */


/* 规则 */

.gui-title {
    font-size: 0.42rem;
    font-weight: bold;
    color: rgba(255, 211, 147, 1);
    text-align: center;
    line-height: 1;
    margin-top: 0.5rem;
}


/* 拼图图片 */

.pin-pic {
    width: 3.2rem;
    height: 3.2rem;
    border: 0.04rem solid rgba(244, 127, 110, 1);
    margin: 0.4rem auto 0.23rem;
    position: relative;
    box-sizing: border-box;
}

.pin-pic img {
    width: 100%;
    height: 100%;
}


/* 中部2 */

.middle-1 {
    margin: 2rem auto;
}

.money {
    color: #F7f709;
    font-size: 0.6rem;
    text-align: center;
    width: 100%;
}

.money span {
    font-size: 1.2rem;
    font-weight: 700;
}

.yue {
    font-size: 0.28rem;
    color: rgba(255, 255, 255, 0.8);
    width: 100%;
    text-align: center;
    margin-top: 0.3rem;
}


/* 查看图片 */

.cha-btn {
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 1rem 0.4rem 0;
    font-size: 0.28rem;
    color: #FFF;
}


/* 难度设置 */

.nan-btn {
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 1rem 0.4rem 0;
    font-size: 0.28rem;
    color: #FFF;
    position: relative;
    text-align: center;
}

.nan-btn-icon {
    width: 0.32rem;
    height: 0.3rem;
    display: block;
    margin-right: 0.07rem;
}

#demo1 {
    position: absolute;
    top: 0;
    left: 2rem;
    color: rgba(255, 255, 255, 0);
}

#value1 {
    position: absolute;
    top: 0;
    left: 2rem;
    z-index: -1;
}


/* 按钮 */

.bottom-btns {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-top: 0.51rem;
    padding-bottom: 0.51rem;
    position: relative;
}

.normal-btn {
    width: 1rem;
    height: 1rem;
    position: relative;
    margin-bottom: 0.46rem;
    overflow: visible;
}

.normal-btn .pic {
    width: 100%;
    height: 100%;
    display: block;
}

.btn-text {
    font-size: 0.28rem;
    color: rgba(255, 209, 163, 1);
    line-height: 1;
    position: absolute;
    bottom: -0.08rem;
    left: 50%;
    transform: translate(-50%, 100%);
    white-space: nowrap;
}

.big-btn-container {
    width: 2.6rem;
    height: 2.6rem;
    margin: 0 0.61rem;
}

.big-btn-container img {
    width: 100%;
    height: 100%;
}

.time-btn-container {
    width: 2.6rem;
    height: 2.6rem;
    margin: 0 0.61rem;
    padding: 0.2rem;
    box-sizing: border-box;
}

.time-box {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #f73809;
    border: 0.02rem solid yellow;
    text-align: center;
    padding-top: 0.3rem;
    box-sizing: border-box;
}

.time-s {
    font-size: 0.3rem;
    color: #F7f709;
}

.time-s span {
    font-size: 1rem;
}


/* 上拉查看详情 */

.bottom-text {
    position: absolute;
    bottom: 0.3rem;
    text-align: center;
    font-size: 0.28rem;
    color: rgba(255, 255, 255, 0.6);
    width: 100%;
}


/* 第二页 */

.recordDetail {
    width: 100%;
    background: rgba(242, 242, 242, 1);
    height: 100%;
    position: absolute;
    top: 100%;
}

.redpack-info {
    padding-top: 0.19rem;
}

.weui-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

.weui-flex__item {
    -webkit-box-flex: 1;
    flex: 1;
}

.head-text {
    padding: 0 0.32rem 0.2rem;
    color: #888;
    font-size: 0.28rem;
    line-height: 1.3;
}

.report-link {
    padding: 0 0.32rem 0.2rem;
    color: #888;
    font-size: 0.28rem;
    line-height: 1.3;
}

.record-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background: rgba(242, 242, 242, 1);
}

.no-record-view {
    position: absolute;
    width: 100%;
    top: 1.76rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.28rem;
    line-height: 1;
}

.no-record-text-view {
    text-align: center;
    position: relative;
    top: -0.12rem;
}

.no-record-text-view .second {
    color: #999;
    margin-top: 0.18rem;
}

.no-record-share-btn::after {
    border: none;
    background: none;
}

.no-record-share-btn {
    line-height: 1;
    padding: 0.12rem;
    background: none;
    border: none;
    font-size: 0.28rem;
    color: #5168a8;
    margin-top: 0.30rem;
}


/* more */

.more {
    position: fixed;
    top: 1.5rem;
    right: 0;
    width: 1.3rem;
    height: 1.6rem;
}

.more img {
    width: 100%;
    height: 100%;
}

.more-box {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
}

.more-title {
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top: 1rem;
    right: -1.5rem;
}

.game-box {
    position: absolute;
    top: 2.5rem;
    right: -2rem;
    width: 2rem;
    border-radius: 0.2rem 0 0 0.2rem;
    background-color: #FFF;
    padding: 0.15rem;
    box-sizing: border-box;
}

.game-item {
    margin-bottom: 0.2rem;
    font-size: 0.28rem;
    color: #c43c3c;
    text-align: center;
    font-weight: bold;
}

.game-logo {
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 0.2rem;
    background-color: #f05048;
    padding: 0.15rem;
    box-sizing: border-box;
}

.game-logo img {
    width: 1.5rem;
    height: 1.5rem;
}


/* 回答列表 */

.record-item {
    width: 7.1rem;
    background: rgba(255, 255, 255, 1);
    border: 0.01rem solid rgba(230, 230, 230, 1);
    border-radius: 0.2rem;
    margin: 0 auto 0.2rem;
    padding: 0.24rem 0.24rem 0.18rem;
    box-sizing: border-box;
}

.user-info-container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.record-avatar {
    width: 1.23rem;
    height: 1.24rem;
    border-radius: 0.08rem;
    margin-right: 0.2rem;
}

.record-msg {
    flex: 1;
    height: 1.24rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.msg-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    line-height: 1;
}

.record-nickname {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.26rem;
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
}

.nickname-limit {
    max-width: 2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.record-gender {
    width: 0.24rem;
    height: 0.24rem;
    display: block;
    margin-left: 0.09rem;
}

.record-score-item {
    font-size: 0.36rem;
    font-weight: 800;
    color: rgba(51, 51, 51, 1);
    flex: 3;
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
    white-space: nowrap;
    justify-content: center;
}

.record-score-item:first-child {
    flex: 2;
    justify-content: flex-start;
}

.record-score-item:last-child {
    justify-content: flex-end;
}

.record-score-item.fail {
    font-size: 0.28rem;
    font-weight: bold;
    color: rgba(191, 191, 191, 1);
}

.record-score-title {
    font-size: 0.26rem;
    font-weight: 500;
    color: rgba(191, 191, 191, 1);
    flex: 3;
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
    white-space: nowrap;
    justify-content: center;
}

.record-score-title:first-child {
    flex: 2;
    justify-content: flex-start;
}

.record-score-title:last-child {
    justify-content: flex-end;
}


/* 更多好玩 */

.games-box {
    width: 7.1rem;
    height: 2.3rem;
    background-color: #FFF;
    display: flex;
    justify-content: space-around;
    border-radius: 0.2rem;
    margin: 0.2rem auto;
}

.games-item {
    width: 1.8rem;
    font-size: 0.28rem;
    color: #333;
    text-align: center;
    padding: 0.25rem 0.15rem 0 0.15rem;
}

.logos-box {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.2rem;
    background-color: #f05048;
    margin-bottom: 0.1rem;
    overflow: hidden;
}

.logos {
    margin-top: 0.1rem;
    width: 1.1rem;
    height: 1.3rem;
}


/*dd*/

.puzzle-pane {
    position: fixed;
    top: 0rem;
    left: 0rem;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    z-index: 1001;
}

.challenge-button {
    position: absolute;
    top: 1rem;
    width: 2rem;
    height: 1rem;
    padding: 0.2rem 0;
    color: #ffaa3b;
    font-size: 0.31rem;
    transition: right 1s;
    background-color: transparent;
    border: none;
    z-index: 1003;
}

.challenge-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0.6rem;
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
    background-color: #3a3a3a;
}

.challenge-icon {
    width: 0.4rem;
    margin-right: 0.05rem;
    vertical-align: middle;
}

.elapse-time {
    min-width: 3.75rem;
    padding: 0 0.2rem;
    height: 0.6rem;
    line-height: 0.6rem;
    border-radius: 0.3rem;
    border: 0.01rem solid white;
    color: white;
    position: absolute;
    top: 2.7rem;
    left: 1.875rem;
    font-size: 0.32rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1003;
}

.puzzle-time-icon {
    width: 0.4rem;
    height: 0.4rem;
    margin-right: 0.05rem;
}

.fixed-width {}

.shi-box {
    width: 6.5rem;
    height: 6.5rem;
    text-align: center;
    z-index: 1003;
    position: absolute;
    top: 3.8rem;
    left: 0.5rem;
    overflow: hidden;
}

.chips-container {
    width: 6.2rem;
    height: 6.2rem;
    position: absolute;
    top: 3.8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    box-sizing: border-box;
}

.chips-overlay {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1002;
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    bottom: 40%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.puzzle-fail-icon {
    margin-top: 1.2rem;
    width: 2rem;
    height: 2rem;
}

.try-again-tip {
    color: white;
    font-size: 0.36rem;
    margin-top: 0.1rem;
}

.try-again-button {
    margin: 0.3rem auto 0;
    font-weight: bold;
    height: 0.8rem;
    width: 3rem;
    line-height: 0.8rem;
    padding: 0 0.5rem;
    border-radius: 0.4rem;
    background-color: #ffaa3b;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.try-again-icon {
    width: 0.36rem;
    height: 0.36rem;
    margin-right: 0.05rem;
}

.chip {
    z-index: 99;
    width: 2rem;
    height: 2rem;
    box-sizing: border-box;
    position: relative;
}

.active {
    border: 0.1rem solid red;
}

.chip_mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.chip img {
    width: 100%;
    height: 100%;
}

.Imgbox {
    width: 6.2rem;
    height: 6.2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
}

.chip-selected {
    position: absolute;
    border: 0.01rem solid red;
    z-index: 999;
    transition: margin 1s;
    background: black;
    opacity: 0.7;
    box-sizing: border-box;
}

.puzzle-tip {
    width: 100%;
    text-align: center;
    color: #bbb;
    position: absolute;
    top: 10.4rem;
    font-size: 0.28rem;
}

.puzzle-bottom-container {
    position: absolute;
    bottom: 0.4rem;
    width: 100%;
    font-size: 0.32rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1003;
}

.puzzle-bottom-button {
    height: 0.8rem;
    line-height: 0.8rem;
    padding: 0 0.5rem;
    border-radius: 0.4rem;
    background-color: #3a3a3a;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}

.close-puzzle-button {}

.puzzle-bottom-icon {
    width: 0.36rem;
    height: 0.36rem;
    margin-right: 0.05rem;
}


/* 查看图片 */

.pic-box {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 1);
    width: 100%;
    height: 100vh;
    z-index: 999;
}

.pic-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 7.5rem;
    height: 7.5rem;
}


/* 拼图成功 */

.poster-box {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}

.share-page {
    margin-top: -0.6rem;
}

.img-box {
    position: relative;
    display: flex;
    width: 5.36rem;
    margin: 3rem auto 0;
}

.refresh {
    position: absolute;
    top: -0.25rem;
    right: -0.25rem;
    height: 0.54rem;
    width: 0.54rem;
    background: #fff;
    box-shadow: 0 0.03rem 0.08rem rgba(153, 153, 153, 0.4);
    border-radius: 50%;
    z-index: 2;
}

.refresh_img {
    position: absolute;
    height: 0.54rem;
    width: 0.54rem;
}

.refresh_img_ani {
    animation: refresh 0.6s infinite linear;
}

@-webkit-keyframes refresh {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.shareimg-view {
    width: 100%;
    height: 100%;
}

.loading-box {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.loading-pic {
    width: 1rem;
    height: 1rem;
    animation: loading 1.5s linear infinite;
}

@-webkit-keyframes loading {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loading {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loading-text {
    font-size: 0.36rem;
    color: rgba(165, 165, 165, 1);
    margin-top: 0.36rem;
}

.text-btn {
    line-height: 1;
    margin-top: 0.2rem;
}

.top-text {
    font-size: 0.4rem;
    color: #FFF;
    font-weight: 700;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 1rem;
}